.QuestionForm-container {
  & .QuestionForm-header {
    padding: 1rem;
  }
  & .Questionnaire-body {
    padding: 1rem;

    & .Questionnaire-top-body {
      display: flex;
      justify-content: space-between;
    }

    & .Questionanire-dynamic-body {
      padding: 3rem 0;
    }
  }
  & .Questionnaire-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;

    & > * {
      margin-right: 0.5rem;
    }
  }

  & * {
    user-select: none;
  }
}
